<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Dashboard</h4>
                <i class="bi bi-caret-right-fill"></i>
              </li>
              <li class="breadcrumb-item">
                <a routerLink="/admin/dashboard/main">
                  <i class="bi bi-house-fill"></i> 
                  </a>
                  <i class="bi bi-caret-right-fill bi-caret-right-fill-small"></i>
              </li>
              <li class="breadcrumb-item active">
                Dashboard
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let chart of charts">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon shadow-primary" [class]="chart.cssStyle">
                <i class="material-icons align-middle">{{chart.icon}}</i>
              </div>
              <div class="card-right">
                <div>
                  <h5 class="float-end">{{chart.title}}</h5>
                </div>
                <div class="m-r-10 m-l-10">
                  <h3 class="font-weight-bold float-end mb-0"> {{chart.subtitle}}</h3>
                </div>
              </div>
            </div>
            <div class="card-chart">
              <apx-chart 
                [series]="chart.chartOptions.series"
                [chart]="chart.chartOptions.chart"
                [xaxis]="chart.chartOptions.xaxis"
                [stroke]="chart.chartOptions.stroke"
                [dataLabels]="chart.chartOptions.dataLabels"
                [yaxis]="chart.chartOptions.yaxis"
                [labels]="chart.chartOptions.labels"
                [grid]="chart.chartOptions.grid"
                [fill]="chart.chartOptions.fill"
                [theme]="chart.chartOptions.theme">
              </apx-chart>
        </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>
                Hospital Survay</h2>
              <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Action</button>
                <button mat-menu-item>Another action</button>
                <button mat-menu-item>Something else here</button>
              </mat-menu>
            </div>
            <div class="body">
              <apx-chart 
                [series]="patientChart.chartOptions.series" 
                [chart]="patientChart.chartOptions.chart"
                [xaxis]="patientChart.chartOptions.xaxis" 
                [colors]="patientChart.chartOptions.colors"
                [stroke]="patientChart.chartOptions.stroke" 
                [legend]="patientChart.chartOptions.legend" 
                [tooltip]="patientChart.chartOptions.tooltip"
                [dataLabels]="patientChart.chartOptions.dataLabels">
              </apx-chart>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Common Diseases Report</h2>
              <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Action</button>
                <button mat-menu-item>Another action</button>
                <button mat-menu-item>Something else here</button>
              </mat-menu>
            </div>
            <div class="body">
              <apx-chart 
                [series]="reportChart.chartOptions.series" 
                [chart]="reportChart.chartOptions.chart"
                [dataLabels]="reportChart.chartOptions.dataLabels" 
                [plotOptions]="reportChart.chartOptions.plotOptions"
                [responsive]="reportChart.chartOptions.responsive" 
                [xaxis]="reportChart.chartOptions.xaxis"
                [tooltip]="reportChart.chartOptions.tooltip" 
                [legend]="reportChart.chartOptions.legend" 
                [fill]="reportChart.chartOptions.fill">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  