<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">Dashboard</h4>
                    <i class="bi bi-caret-right-fill"></i>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/admin/dashboard/main" class="home_route">
                        <i class="bi bi-house-fill"></i>
                    </a>
                    <i class="bi bi-caret-right-fill bi-caret-right-fill-small"></i>
                </li>
                <li class="breadcrumb-item active">
                    {{currentPlace}}
                </li>
            </ul>
        </div>
    </div>
</div>