<section class="content">
    <div class="container-fluid">
        <app-breadcrumb></app-breadcrumb>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="body">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <img src="assets/images/pages/welcome.png" alt="" class="w-100">
                </div>
                <div class="col-md-8">
                  <h4 class="font-20 weight-500 mb-2">
                    Welcome back <div class="weight-500 font-25 col-blue pt-1">{{name}}</div>
                  </h4>
                  <p class="font-16 max-width-600">We would like to take this opportunity to welcome you to our practice
                    and to thank you
                    for choosing our physicians to participate in your healthcare. We look forward to
                    providing you with personalized, comprehensive health care focusing on wellness and
                    prevention.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12" *ngFor="let card of cards">
          <div class="card card-statistic-2 patient-card">
            <div class="clearfix">
              <div class="patient-card-icon card-icon-only shadow-primary float-start">
                <img src={{card.cardIcon}} alt="">
              </div>
              <div class="card-right">
                <div>
                  <h5 class="float-end patient-title">{{card.cardTitle}}</h5>
                </div>
                <div class="text-success">
                  <h2 class="font-weight-bold float-end mb-0 " [class]="card.cardFontColor"> {{card.cardQuant}} </h2>
                </div>
              </div>
            </div>
            <div class="card-content msl-1 mb-3">
              <p class="mb-0 d-flex"><i class="material-icons pr-2" [class]="card.cardFontColor">{{card.trending_icon}}</i> {{card.cardPercent}} {{card.rise_fall}} the last month
              </p>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>
  